.App {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Board {
  
}

.loading {
  display: block;
  margin-top: 30px;
}

.Board h1 {
  text-align: center;
  margin-bottom: 20px;
}

.Line {
  display: flex;
  flex-direction: row;
}

.Square {
  height: 50px;
  width: 16.66%;
  border: 2px solid #333;
  margin: 5px 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Square span {
  font-size: 30px;
}

.selected {
  background-color: rgba(0, 0, 255, 0.155);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.357)!important;
}

.green {
  background-color: rgba(0, 128, 0, 0.343)!important;
}

.grey {
  opacity: 0.5!important;
}

.Keyboard {
  margin-top: 30px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.Keyboard {
  width: 95vw;
  max-width: 350px;
}